html, body {
    width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(28, 28, 28);
}

main {
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    width: 100vw;
    height: 100vh;
}

/* LOCKSCREEN CONTENT */
#pwc_screen {
    display: none;
    grid-row: 4/6;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0px 20px;
    font-family:"titillium_webregular", Arial, sans-serif;
}

#pwc_screen_field {
    position: relative;
    text-align: center;

    padding: 0.4em; /* add 0.4em padding to all 4 sides of the password field */

    color: white;
    font-size: 15px;
    background-color:rgb(28, 28, 29);
    outline: none;
    
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom:3px solid grey;

    transition:border 500ms;
}

#pwc_screen_field:hover, #pwc_screen_field:focus {
    border-bottom:3px solid white;
}

button {
    position: relative;
    top: 15px;
    padding: 5px 15px;
    background-color: grey;
    color: aliceblue;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;

    transition: color 500ms;
    transition: background-color 500ms;
    /* border: 1px solid white; */
}

button:hover {
    cursor:pointer;
    background-color: white;
    color: black;
}

button:active {
    background-color: rgb(168, 168, 168);
}

@media only screen and (max-width:1210px) {
    #lockscreen p {
        margin: 25px 36%;
    }
}

@media only screen and (max-width: 877px) {
    #lockscreen p {
        margin: 25px 31%;
    }
}

@media only screen and (max-width: 600px) {
    #lockscreen p {
        margin: 25px 24%;
    }
}

@media only screen and (max-width: 500px) {
    #pwc_screen h1 {
        font-size: 25px;
    }
}